.root{ 
  padding: 20px;
  text-align: center;
  
  h1{
    font-size: 200px;
    color: #ffdf8c;
  }

  h2{
    margin-top: -40px;
  font-size: 42px;
  color: #296c24;
  }

  p{
    font-size: 36px;
  }
}

.description{
  padding: 0 0 50px 0px;
}